[program:mongodb]
command={{ mongodb_main_dir }}/bin/mongod
  --dbpath {{ mongodb_main_dir }}
  --bind_ip {{ uberspace_ip_private_v4 }}
  --auth
  --unixSocketPrefix {{ mongodb_main_dir }}
autostart=yes
autorestart=yes

#--config {{ mongodb_main_dir }}/mongod.conf
