[program:mongodb]
command={{ mongodb_bin_dir }}/mongod
  --dbpath {{ mongodb_main_dir }}
  --bind_ip {{ mongodb_bind_ip }}
  --auth
  --unixSocketPrefix {{ mongodb_main_dir }}
autostart=yes
autorestart=yes

#--config {{ mongodb_main_dir }}/mongod.conf
