[program:pleroma]
command=/usr/bin/mix phx.server
directory={{ uberspace_projectsdir }}{{ pleroma_project_name }}
autostart=true
autorestart=true
startsecs=60
environment =
  {{ pleroma_environment_string }}
