{
  "_type": "configuration",
  "tid": "PLACEHOLDER",
  "deviceId": "PLACEHOLDER",
  "password": "PLACEHOLDER",
  "username": "PLACEHOLDER",
  "notificationHigherPriority": false,
  "pubQos": 1,
  "ws": false,
  "beaconMode": 0,
  "pubExtendedData": true,
  "extendedData" : true,
  "remoteConfiguration": true,
  "locatorAccuracyForeground": 0,
  "ranging": false,
  "port": {{ mosquitto_port_mosquitto }},
  "notificationLocation": true,
  "pub": true,
  "keepalive": 60,
  "subTopic": "{{ mosquitto_topic_wildcard_explicit }}",
  "host": "{{ mosquitto_host }}",
  "cmd": true,
  "pubRetain": false,
  "willRetain" : false,
  "playOverride": false,
  "locatorInterval": 120,
  "autostartOnBoot": true,
  "locatorAccuracyBackground": 1,
  "tls": true,
  "notification": true,
  "locatorDisplacement": 50,
  "mode": 0,
  "beaconBackgroundScanPeriod": 30,
  "auth": true,
  "beaconForegroundScanPeriod": 0,
  "usepolicy" : true,
  "validatecertificatechain" : true,
  "ignoreStaleLocations" : 4,
  "ignoreInaccurateLocations" : 0,
  "cleanSession" : false,
  "locked" : false,
  "url" : "https:\/\/user:password@host:port\/path",
  "positions" : 50,
  "monitoring" : 2,
  "updateAddressBook" : false,
  "policymode" : 0,
  "willTopic" : "",
  "clientpkcs" : "",
  "willQos" : 1,
  "subQos" : 1,
  "pubTopicBase" : "{{ mosquitto_topic_wildcard_pub }}",
  "allowinvalidcerts" : false,
  "validatedomainname" : true,
  "sub" : true,
  "allowRemoteLocation" : true,
  "servercer" : "",
  "waypoints" : [
  ]
}
