<?php

$debug = false;
$remote = false;

if($debug){
  echo '<pre>';
}

$filename_otrc_output = "owntracks-config-{{ cur_geogame.event.handle }}.otrc";

$special=false;

if(!empty($_GET['tid-group']) && empty($_GET['tid-station'])){
  $factionTid=$_GET['tid-group'];
} elseif(empty($_GET['tid-group']) && !empty($_GET['tid-station'])){
  $factionTid=$_GET['tid-station'];
} elseif(!empty($_GET['tid-special'])){
  $factionTid=$_GET['tid-special'];
  $special=true;
} else {
  $factionTid="XX-XX";
}

$factionTid_exploded=explode("-",$factionTid);
$faction = $factionTid_exploded[0];

$tid = $factionTid_exploded[1];

$db_topic_faction=$faction;

if($special){
  $db_topic_faction = '+';
}

$password=createuser($_GET['username'], $tid, $db_topic_faction);

$topic_prefix = "{{ mosquitto_topic_prefix }}";


// Read JSON file
$otrcDefaultContent = file_get_contents('./config-default.otrc');

//Decode JSON
$otrc = json_decode($otrcDefaultContent,true);

$otrc['tid']=$tid;
$otrc['deviceId']=$_GET['deviceId'];
$otrc['username']=$_GET['username'];
$otrc['password']=$password;
$otrc['pubTopicBase']=$topic_prefix."/".$faction."/"."%u";
$otrc['subTopic']=$topic_prefix."/".$db_topic_faction."/"."#";




$otrcJSON = json_encode($otrc);

if($debug) {
  //Print data

  print_r($otrcDefaultContent);
  print_r($_GET);
  print_r($otrc);
} else {
  header('Content-disposition: attachment; filename="'.$filename_otrc_output.'"');
  header('Content-type: application/octet-stream');

  echo($otrcJSON);
}

function createuser($username, $tid, $faction='+'){
  global $remote;
  if($remote){
    createuser_remote($username, $tid, $username);
  } else {
    return createuser_local($username, $tid, $faction, "default");
  }
}

function createuser_remote($username, $tid, $deviceId){
  $url='https://{{ mosquitto_host }}/admin/createuser.php?username='.$username.'&tid='.$tid;
  $http_auth_credentials= "username:password";
  //echo $url;
  //echo file_get_contents($url);

  $curlSession = curl_init();
  curl_setopt($curlSession, CURLOPT_URL, $url);
  curl_setopt($curlSession, CURLOPT_BINARYTRANSFER, true);
  curl_setopt($curlSession, CURLOPT_RETURNTRANSFER, true);
  curl_setopt($curlSession, CURLOPT_HTTPAUTH, CURLAUTH_ANY);
  curl_setopt($curlSession, CURLOPT_USERPWD, $http_auth_credentials );

  $content = curl_exec($curlSession);
  curl_close($curlSession);
}

function createuser_local($username, $tid, $faction='+', $deviceId){
  include("createuser.php");

  $password=generatePassword(15);
  insert_user($username, $tid, $faction, $password);
  
  return $password;
}
