// Here you can overwrite the default configuration values
window.owntracks = window.owntracks || {};
window.owntracks.config = {};
window.owntracks.config = {
  router: {
    basePath: "{{ mosquitto_otfrontend_webpath }}",
  },
};